.navbar {
  background-color: #2B2520;
  padding: 1rem 0;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.nav-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-logo {
  color: #E8D5C4;
  font-size: 1.6rem;
  font-weight: bold;
  text-decoration: none;
}

.nav-logo:hover {
  color: #B7410E;
}

.nav-menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 2rem;
}

.nav-item {
  margin: 0;
}

.nav-link {
  color: #E8D5C4;
  text-decoration: none;
  font-size: 1.1rem;
  /*transition: color 0.3s;*/
  font-weight: 600;
}

.nav-link:hover {
  color: #B7410E;
}

.nav-socials {
  display: flex;
  gap: 1rem;
  align-items: center;
  margin-left: 2rem;
}

.social-link {
  color: #E8D5C4;
  /*transition: color 0.3s;*/
  display: flex;
  align-items: center;
  text-decoration: none;
}

.social-link:hover {
  color: #B7410E;
}
